<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/product.css">
</head>
<body>
    <main>
        <ul>
            <li>Producto id: <%= producto[0].id %></li>
            <li><%= producto[0].nombre %></li>
            <li>$<%= producto[0].precio %></li>
            <li>stock: <%= producto[0].stock %></li>
            <li><%= producto[0].descripcion %></li>
        </ul>
        <img src="<%= producto[0].imagen %>" alt="" srcset="">
    </main>
</body>
</html>